body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
*::selection {
  background-color: #ffd15b;
  color: black;
}
* {
  font-family: "Exo", sans-serif;
  /* border: #e1306c solid 1px; */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1.625rem;
}
.continer {
  width: 75%;
  margin: auto;
  /* background-color: rgb(0, 194, 136); */
}
.margin-top-sections {
  margin-top: 10%;
}

.icon-title {
  margin-top: 16px;
  display: inline-block;
}
/* ========================================== navbar =================================== */

.flex-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 75%;
  border-radius: 40px;
  padding-inline: 1.875rem;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding-block: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.875rem;
  display: flex;

  padding-top: 0.8125rem;
  font-weight: 600;
}
.otrnge-title {
  color: rgb(255, 105, 0);
  margin-left: 0.2rem;
}
.button-nav {
  background-color: #ffd15b;
  font-size: 1.003rem;
  border-radius: 1.25rem;
  padding: 0.2rem 1.25rem;
  border: 2px solid black;
  margin-block: 0.5rem;
}
.clear {
  clear: both;
}

div img {
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  display: inline-block;
  margin-right: 15px;
}
ul li .fa-star {
  color: #bfbfbf;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
a:hover {
  color: orange;
}
/* =============================== navbar moblie ============================ */

.navbar-2 {
  box-sizing: border-box;
  height: 60px;
  padding: 0 20px;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  box-sizing: border-box;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

#menu-toggle {
  box-sizing: border-box;
  display: none;
}

/* ===== Overlay ===== */
.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 1100;
  visibility: hidden;
  transition: 0.3s;
}

/* ===== Side Menu ===== */
.side-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 1200;
}

.side-menu a {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.3rem;
}

.close-btn {
  box-sizing: border-box;
  font-size: 1.8rem;
  color: #000000;
  cursor: pointer;
  align-self: flex-end;
}

#menu-toggle:checked ~ .side-menu {
  right: 0;
}

#menu-toggle:checked ~ .overlay {
  opacity: 1;
  visibility: visible;
}

/* =============================== frist section ============================ */
.section-hero {
  padding-block: 9rem;
  background-color: rgb(255, 240, 133);
  margin-top: 0;
  border-bottom: 3px solid black;
  position: relative;
}
.section-hero .continer {
  display: flex;
  justify-content: space-between;
}
.left-shape-hero {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 220, 124);
  position: absolute;
  right: 5%;
  top: 20%;
  rotate: 45deg;
}
.right-shape-hero {
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.095);
  position: absolute;
  left: 5%;
  top: 10%;
  rotate: 6deg;
}
.imge {
  width: 85%;
  transform: rotate(3deg);
  margin-top: 5rem;
  position: relative;
  margin: auto;
  padding-top: 7.5rem;
}
.imge-hero {
  transition: transform 0.5s;
  box-shadow: black 6px 6px;
  border: 0.15rem solid black;
}
.imge-hero:hover {
  transform: translate(-6px, -6px);
}
.red-bage-imge {
  position: absolute;
  top: 20%;
  right: -5%;
  transform: rotate(6deg);
  background-color: red;
  color: white;
  font-weight: 600;
  padding: 5px 12px;
  border: 0.15rem solid black;
  box-shadow: black 3px 3px;
}

.red-color-h1-hero {
  color: red;
}
.blue-color-h1-hero {
  color: blue;
}
h1 {
  font-size: 4.5rem;
  text-shadow: black 4px 4px;
  width: 70%;
}
.black-badge {
  background-color: black;
  box-shadow: black 4px 4px;
  transform: rotate(-3deg);
  width: fit-content;
  font-weight: 600;
  padding: 12px;
  color: white;
}
.discrption-hero {
  background-color: white;
  width: 90%;
  font-size: 1.125rem;
  padding: 1.5rem;
  box-shadow: black 4px 4px;
  border: 2px solid black;
  margin-top: 1.875rem;
  font-weight: 600;
  overflow: hidden;
}
.button-1-hero {
  width: 40%;
  border: 5px solid black;
  margin-top: 1.875rem;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  box-shadow: black 6px 6px;
  transition: transform 0.5s, box-shadow 0.5s;
  padding: 15px 20px;
}
.button-2-hero {
  width: 40%;
  border: 5px solid black;
  margin-top: 1.875rem;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.25rem;
  box-shadow: black 6px 6px;
  margin-left: 1.875rem;
  transition: transform 0.5s, box-shadow 0.5s;
  padding: 15px 20px;
}
.button-1-hero:hover {
  transform: translate(6px, 6px);
  box-shadow: black 0px 0px;
}
.button-2-hero:hover {
  transform: translate(6px, 6px);
  box-shadow: black 0px 0px;
}
/* =============================== section  2  ============================ */
.section-2 {
  padding-block: 6.25rem;
}
.section-2 .continer {
  display: flex;
  justify-content: space-between;
}

.title-section-2 {
  display: flex;
  justify-content: space-between;
}
.title-section-2 h2 {
  font-size: 2.5rem;
}
.cards-article {
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.card {
  background-color: white;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  box-shadow: black 6px 6px;
  transition: transform 0.5s, box-shadow 0.5s;
}
.card:hover {
  transform: translate(-3px, -3px);
  box-shadow: black 9px 9px;
}
.card:hover .description-article h3 {
  color: #ff0000;
}
.img-badge-article {
  position: relative;
  width: 25%;
}
.img-article {
  width: 100%;
  border: 2px solid black;
}

.bage-articale {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  font-size: 0.9375rem;
  box-shadow: black 3px 3px;
  border: 2px solid black;
  width: fit-content;
  padding: 2px 4px;
  position: absolute;
  top: -10px;
  right: -10px;
  transform: rotate(10deg);
}
.description-article {
  width: 70%;
}
.bage-description-article {
  background-color: #ffd15b;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 0.9375rem;
  box-shadow: black 3px 3px;
  border: 2px solid black;
  width: fit-content;
  padding: 2px 4px;
  transform: rotate(-5deg);
  margin-bottom: 0.9375rem;
}

.description-article h3 {
  font-size: 1.4375rem;
}
.description-article p {
  padding-block: 0.75rem;
}
.red-hart {
  color: red;
}
.icons-card-article {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.icons-card-article span:nth-child(1) {
  margin-right: 3.4375rem;
}
.buttom-after-cards {
  width: 50%;
  margin: auto;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 15px 40px;
  box-shadow: black 6px 6px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 30px;
}

.buttom-after-cards:hover {
  transform: translate(6px, 6px);
  box-shadow: black 0px 0px;
}

.right-slider h3 {
  font-size: 1.875rem;
  margin-bottom: 30px;
}
.flex-slider-1 {
  display: flex;
  margin-top: 1.875rem;
}
.card-slider-1 {
  margin-bottom: 2.5rem;
  background-color: white;
  box-shadow: black 6px 6px;
  border: 2px solid black;
  padding-block: 1.875rem;
  padding-inline: 2.1875rem;
}
.number-01 {
  color: rgb(251, 44, 54);
  font-size: 2.875rem;
  font-weight: bolder;
  margin-right: 23px;
}

.number-02 {
  color: rgb(43, 127, 255);
  font-size: 2.875rem;
  font-weight: bolder;
  margin-right: 20px;
}
.number-03 {
  color: rgb(173, 70, 255);
  font-size: 2.875rem;
  font-weight: bolder;
  margin-right: 20px;
}
.flex-slider-1 h4 {
  font-size: 1.25rem;
  font-weight: 00;
}
.flex-slider-1:hover h4 {
  color: rgb(251, 44, 54);
}
.flex-slider-1:hover h4.text-02 {
  color: rgb(43, 127, 255);
}
.flex-slider-1:hover h4.text-03 {
  color: rgb(173, 70, 255);
}

.card-slider-2 {
  background-color: white;
  box-shadow: black 6px 6px;
  border: 2px solid black;
  padding-block: 1.875rem;
  padding-inline: 2.1875rem;
}

.buuton-1,
.buuton-2,
.buuton-3,
.buuton-4,
.buuton-5 {
  width: 100%;
  padding: 13px 20px;
  margin-block: 20px;
  transition: transform 0.5s, box-shadow 0.5s;

  border: 2px solid black;
  font-weight: bold;
}
.buuton-1 {
  background-color: rgb(254, 249, 194);
}
.buuton-1:hover {
  background-color: #ffd15b;
  box-shadow: black 6px 6px;
  transform: translate(-6px, -6px);
}
.buuton-2 {
  background-color: rgb(219, 252, 231);
}
.buuton-2:hover {
  background-color: #5cff98;
  box-shadow: black 6px 6px;
  transform: translate(-6px, -6px);
}
.buuton-3 {
  background-color: rgb(252, 231, 243);
}
.buuton-3:hover {
  background-color: rgb(253, 165, 213);
  box-shadow: black 6px 6px;
  transform: translate(-6px, -6px);
}
.buuton-4 {
  background-color: rgb(219, 234, 254);
}
.buuton-4:hover {
  background-color: #31a2ff;
  box-shadow: black 6px 6px;
  transform: translate(-6px, -6px);
}
.buuton-5 {
  background-color: rgb(243, 232, 255);
}
.buuton-5:hover {
  background-color: #bb6cd5;
  box-shadow: black 6px 6px;
  transform: translate(-6px, -6px);
}
.postion-sriky {
  position: sticky;
  top: 10%;
}
/* =============================== section  3  ============================ */
.section3 {
  background-color: rgb(255, 210, 48);
  border-block: 3px solid black;
  padding-block: 6.25rem;
  position: relative;
}

.left-shape-section3 {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.095);
  position: absolute;
  right: 2%;
  top: 5%;
  rotate: 45deg;
}
.right-shape-section3 {
  width: 120px;
  height: 120px;
  background-color: rgb(255, 193, 48);
  position: absolute;
  left: 2%;
  bottom: 5%;
  rotate: 60deg;
}
.title-section-3 {
  text-align: center;
  margin-bottom: 3.75rem;
}
.title-section-3 h2 {
  font-size: 2.5rem;
}
.title-section-3 p {
  position: relative;
  padding-bottom: 30px;
}
.title-section-3 p::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 8px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  rotate: 2deg;
}

.cards-section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-section-3-1 {
  background-color: white;
  color: black;
  border: 4px solid black;
  padding-block: 40px;
  padding-inline: 30px;
  box-shadow: black 6px 6px;
  position: relative;
  text-align: center;
  transition: transform 0.4s, box-shadow 0.4s;
}

.card-section-3-1 h3 {
  font-size: 2.1875rem;
  margin-block: 0.625rem;
  transition: color 0.4s;
}
.card-section-3-1 span {
  font-size: 1.11rem;
  margin-block: 40px;
}
.card-section-3-1 p {
  margin-block: 1.25rem;
}
.icons-section-3 {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 4px solid black;
}
.avatar {
  width: 40%;
  margin: auto;
}

.icon {
  padding-top: 0.5625rem;
  text-align: center;
  font-size: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: black;
  color: white;
}
.icon:hover {
  box-shadow: black 6px 6px;
}
.icon.twitter:hover {
  background-color: #1da1f2;
}

.icon.linkedin:hover {
  background-color: #0077b5;
}

.icon.instagram:hover {
  background-color: #e4405f;
}

.avatar-badge {
  background-color: rgb(255, 0, 0);
  box-shadow: black 4px 4px;
  transform: rotate(5deg);
  padding-inline: 7px;
  width: fit-content;
  position: absolute;
  top: 5%;
  right: 5%;
  padding-block: 0.325rem;
  font-weight: 600;
  font-size: 0.8125rem;
  color: white;
}

.card-section-3-1:hover {
  transform: translate(-3px, -3px);
  box-shadow: black 9px 9px;
}
.card-section-3-1:hover h3 {
  color: #ff0000;
}

/* =============================== section  4  ============================ */

.section4 {
  padding-block: 6.25rem;
}
.display-flex-sectopn-4 {
  display: flex;
  justify-content: space-between;
}
.section4-left {
  margin-top: 1.3rem;
}
.card-left-section4 {
  background-color: white;
  width: 90%;
  font-size: 1.125rem;
  padding: 1.3rem;
  box-shadow: black 4px 4px;
  border: 2px solid black;
  margin-block: 1.7rem;
  overflow: hidden;
}
.section4-left h3 {
  font-size: 2.25rem;
}
.section4-left button {
  font-size: 1.2rem;
}
.icon-section4 {
  background-color: #ff0000;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: white;
  margin-right: 10px;
}
.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.task p {
  width: 91%;
  display: flex;
  align-items: center;
}
.icon-section4.blue {
  background-color: #1da1f2;
}
.icon-section4.move {
  background-color: rgb(173, 70, 255);
}
.icon-section4.green {
  background-color: rgb(0, 202, 0);
}
.section4 p {
  font-weight: 600;
}

/* ---------------------------------------------- */
.card-right-section4 {
  background-color: white;
  color: black;
  border: 4px solid black;
  padding-block: 20px;
  padding-inline: 30px;
  box-shadow: black 6px 6px;
  position: relative;
  transition: transform 0.4s, box-shadow 0.4s;
}
.card-right-section4 h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.lable-1 {
  background-color: rgb(254, 242, 242);
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 20px;
  margin-bottom: 25px;
}
.lable-1 p {
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.person {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 2px solid black;
}
.charactor {
  display: flex;
}
.color-blue {
  background-color: rgb(239, 246, 255);
}
.color-card-rnd {
  background-color: rgb(250, 245, 255);
}

/* ================================ section 5 (end) ===============================*/

.fouter {
  margin-top: 0;
  background-color: rgb(0, 0, 0);
  color: black;
  width: 100%;
  padding-top: 30px;
  color: white;
}
.icon-title {
  display: flex;
}

.icon-title h3 {
  font-size: 1.875rem;
}
.foter-text {
  margin-right: 5%;
  width: 40%;
}
.icon-fouter {
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 27px;
  text-align: center;
  padding-top: 5px;
  margin-right: 15px;
}
div.icon-title {
  margin-bottom: 20px;
}
.fouter a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 8px;
  margin-top: 12px;
  font-weight: 600;
}
.fouter a:hover {
  color: #ffd15b;
}
.fouter h4 {
  margin-bottom: 30px;
  margin-top: 12px;
  font-size: 20px;
}
.end-width {
  width: 22%;
}
.flex-betwen {
  display: flex;
  justify-content: space-between;
}
.middel-fouter {
  width: 12%;
}
.All-rights-reserved {
  border-top: 4px rgb(255, 255, 255) solid;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  background-color: black;
  padding-block: 20px;
  margin-top: 20px;
}
.over-flow-fouter {
  display: flex;
  justify-content: space-between;
}
div.All-rights-reserved a {
  background-color: aqua;
  padding: auto;
}
.right-fouter {
  width: 40%;
}
div.All-rights-reserved div img {
  width: 60px;
}
#master {
  width: 30px;
}
.right-fouter input {
  width: 98%;
  margin: auto;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  padding: 15px;
  font-size: 17px;
  font-weight: 600;
  margin-block: 20px;
}
.right-fouter button {
  width: 98%;
  margin: auto;
  background-color: rgb(255, 223, 32);
  border-bottom: rgb(204, 178, 26) solid 4px;
  border-right: rgb(204, 178, 26) solid 4px;

  padding: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: transform 0.5s, border 0.5s;
}
.right-fouter button:hover {
  transform: translate(3px, 3px);
  border: 3px solid orange;
}

.span-founer-end span {
  margin-left: 1.875rem;
}
/* =================================================================== */
.blue {
  background-color: rgb(43, 127, 255);
}
.move {
  background-color: rgb(173, 70, 255);
}
.green {
  background-color: rgb(123, 241, 168);
}
.white-green {
  background-color: rgb(219, 252, 231);
}
.white-move {
  background-color: rgb(252, 231, 243);
}
.white-yello {
  background-color: rgb(254, 249, 194);
}
